body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
/*     background-image: url("../../images/newspaperGreen.png");*/
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    height: auto;
    z-index: -1;
}

.body {
    color: black;
    padding: 1rem;
    /* display: flex; */
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    height: auto;
    /* max-height: 150rem; */
    background-color: rgba(255, 255, 255);
    z-index: -1;
    border-radius: 15px;
    /* background-image: url("slike/Vector/Background/Backgorund.jpg"); */
}

.Products h1{
    margin: 0;
    flex-basis: 100%;
}

.AllProducts a {
    background-color: rgb(6, 110, 6) !important; /* Consistent green background */
    outline: lightgreen !important;
    border: none !important;
    color: white !important; /* White text color */
    border-radius: 5px; /* Rounded corners */
    padding: 8px 16px; /* Decrease padding for smaller appearance */
    font-size: 0.9rem; /* Slightly smaller font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}

.AllProducts a:hover {
    background-color: rgb(6, 100, 6) !important; /* Darker green on hover */
    color: #f8f9fa !important; /* Light text color on hover */
    border: none !important;
}

.PageNumber .pagination .page-link {
    color: green !important; 
}

.PageNumber .pagination .page-item.active .page-link {
    background-color: green !important;
    color: white !important; 
    border-color: green !important; 
}

.PageNumber .pagination .page-link:hover {
    color: darkgreen !important; 
    background-color: lightgreen !important; 
}

.custom-btn {
    background-color: rgb(6, 110, 6); /* Consistent green background */
    border: none;
    color: white; /* White text color */
    border-radius: 5px; /* Rounded corners */
    padding: 8px 16px; /* Decrease padding for smaller appearance */
    font-size: 0.9rem; /* Slightly smaller font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}

.custom-btn:hover {
    background-color: rgb(6, 100, 6); /* Darker green on hover */
    color: #f8f9fa; /* Light text color on hover */
}

.content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1.5rem;
}

.Products {
    background-color: #A0D689;
    padding: 1.69rem;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    margin-top: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 1rem;

    width: 100%;

    flex-wrap: wrap; 
    border-radius: 15px;
    background-image: url("../images/PearBackgroundClasic3.jpg");
}

.centriraj {
    display: flex; 
    justify-content: center; 
    align-items: center;   
    text-align: center;
}

.imgStyle {
    width: 11rem;
    height: 11rem;
}

@media (max-width: 900px) {
    .Products {
        padding: 1rem;
    }

    .it_head {
        flex-wrap: wrap;
    }

    .nasl{
        display: flex;
        flex-direction: column;
    }

    .naslov{
        width: 100%;
    }

    .imgStyle {
        width: 8rem;
        height: 8rem;
        padding-bottom: 1rem;
    }
}

.cardi {

            
    width: 15.5rem;
    min-height: 13rem !important;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
}

.cardi img {
    padding-top: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.AllProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-body .cardi .card{
    min-height: 20rem !important;
}

.ProfilePicture{
    width: 2.5rem;
    margin-left: 3rem;
    margin-right: 0.5rem;
    background-color: rgb(211, 197, 197);
    border-radius: 50%;
}

.slider {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 95%;
    height: 500px;
    align-content: center;
    justify-self: center;
}

.slider img{
    width: 1400px;
    height: 500px;
    border-style: solid;
    border-color: black;
    border-width: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.carousel-indicators li {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0; 
}

.PageNumber {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel{
    align-items:center;
}

.navbar-brand {
    display: flex;
    align-items: center; 
    font-family: "Sour Gummy", sans-serif; /* font */
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    font-variation-settings: "wdth" 100; 
}

.card-body {
    display: flex;
    flex-direction: column;
}

.left-aligned {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.me-2 {
  margin-right: 0.5rem;
}