.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}


.payment-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
    max-width: 350px;
    width: 100%;
    z-index: 2;
}

.payment-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.payment-form input {
    background-color: white;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.payment-form .submit-btn {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.payment-form .submit-btn:hover {
    background-color: #218838;
}